/* Estilos para el contenedor del gráfico */
.chart-container {
    position: relative;
    width: 100%;
    height: 400px; /* Ajusta la altura según tus necesidades */
  }
  
  @media screen and (max-width: 768px) {
    .chart-container {
      height: 300px; /* Ajusta la altura para pantallas pequeñas */
    }
  }
  